.player-image {
  width: 350px;
  height: 350px;
  border-radius: 5px;
  object-fit: cover;
  margin-bottom: 16px;
}

@media (max-width: 750px) {
  .player-image {
    width: 300px;
    height: 300px;
  }
}
